use crate::errors::AoCError;
use crate::reader::read_lines;

pub fn run(input: &str) -> Result<(), AoCError> {
    let lines = read_lines(input)?;
    for line in lines.into_iter().flatten() {
        println!("{}", line)
    }

    Ok(())
}
